---
import Layout from '../layouts/Layout.astro';
const pageTitle = "FAQ";
---
<Layout pageTitle={pageTitle}>
    <h2>FAQ</h2>
    <article>
      <h3>È obbligatorio il passaporto per l’Albania?</h3>
      <p>No, è sufficiente la carta d’identità italiana valida per l'espatrio. In entrambi i casi (passaporto e carta d’identità), è necessario che la data di scadenza sia superiore di almeno tre mesi alla data di rientro dall'Albania (es. se rientri il 15 luglio 2025, il documento non deve scadere prima del 15 ottobre 2025).</p>
    </article>
    <article>
      <h3>Posso usare l’Euro come moneta in Albania?</h3>
      <p>Sì, l’Euro è accettato come moneta, ma è comunque possibile cambiare con il Lek (la moneta locale albanese) che non è convertibile fuori dall’Albania. Consigliamo di avere dei contanti in lek.</p>
    </article>
    <article>
      <h3>Posso sempre usare la carta di credito in Albania?</h3>
      <p>Sì, è possibile pagare con le carte di credito, in base alle policy previste con il proprio istituto di credito. Consigliamo di usare la carta di credito solo nei grandi centri abitati (es. località di mare e grandi città). In altri casi, consigliamo l’utilizzo dei contanti.</p>
    </article>
    <article>
      <h3>Posso usare internet e/o il mio piano tariffario UE roaming in Albania?</h3>
      <p>No, non essendo paese dell’UE, non è possibile utilizzare il proprio piano tariffario e l’UE roaming, come previsto dall’attuale normativa europea. Consigliamo di verificare con il proprio operatore telefonico quali offerte è possibile integrare o utilizzare (es. Vodafone Smart Passport). La maggior parte dei locali pubblici (es. bar, ristoranti, ecc.) e delle strutture alberghiere offre Wi-Fi gratuito.</p>
    </article>
    <article>
      <h3>Numeri utili</h3>
      <ul>
        <li><strong>Pronto soccorso:</strong> 127 (ambulanze e urgenze). Numero attivo solo a Tirana.</li>
        <li><strong>Polizia:</strong> 112 (pronto intervento), 126 (polizia stradale). Numeri attivi solo nei principali centri urbani.</li>
      </ul>
    </article>
</Layout>
