---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Matrimonio Gabri-Eda";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img alt="RaccoonSpaceGif" class="pro-img" src="/wedding-photo8.jpeg"/>
    </div>

    <h2>Quando tutto e iniziato</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
        Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum, fermentum lacus at,
        pellentesque mauris. Suspendisse eros neque, interdum euismod consectetur convallis,
        porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem in pellentesque euismod,
        libero justo gravida nibh, non ultricies justo purus ultrices est.
    </p>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>

    <h2>RSVP</h2>
    <p>Abbiamo il piacere di invitarvi a celebrare insieme a noi questa giornata speciale! Per confermare la vostra presenza, cliccate sul pulsante qui sotto e compilate il form nella pagina dedicata.</p>
    <div class="rsvp">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMzKwK6MNS8v52lX8lmevHW1zeYYdGF5Gwi5M497m6NWO6YQ/viewform" target="_blank" class="btn">Conferma la tua presenza</a>
    </div>
    <p></p>

</Layout>

