---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Matrimonio Gabri - Eda";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img alt="RaccoonSpaceGif" src="/wedding.webp"/>
    </div>
    <h1>Matrimonio Gabri - Eda</h1>
    <!--<span class="badge">Digital Craftsman (Developer)</span>-->

    <p></p>
    <!--<div class="center">-->
        <a href="https://nx61054.your-storageshare.de/s/3PDZ3FMHNBskP8K" target="_blank">
            <button class="btn">Carica Photo</button>
        </a>
    <!--</div>-->

    <h2>Carica Photo</h2>
    <!--<div class="center">-->
        <a href="https://nx61054.your-storageshare.de/s/3PDZ3FMHNBskP8K" target="_blank">
            <button class="btn">Clica qui per Caricare Photo</button>
        </a>
    <!--</div>-->

    <h2>Info</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
        Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum, fermentum lacus at,
        pellentesque mauris. Suspendisse eros neque, interdum euismod consectetur convallis,
        porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem in pellentesque euismod,
        libero justo gravida nibh, non ultricies justo purus ultrices est.
    </p>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
    <h2>Skills</h2>
    <div class="map">
      <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.9396230057923!2d19.711337726555712!3d41.41882929404352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13502d0712c5607f%3A0x5254c1f62d5286db!2sTirana%20International%20Airport!5e0!3m2!1sen!2suk!4v1731354053232!5m2!1sen!2suk" 
          width="600" 
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <h2>Interests</h2>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
    <div class="map">
        <iframe
            width="600"
            height="450"
            src="https://www.openstreetmap.org/export/embed.html?bbox=17.457275390625004%2C40.065460682065535%2C21.077270507812504%2C41.918628865183045&amp;layer=mapnik"
            style="border: 1px solid black">
        </iframe>
        <br/>
        <small><a href="https://www.openstreetmap.org/#map=9/40.999/19.267">View Larger Map</a></small>
    </div>
</Layout>

