---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Carica le tue Foto";
---

<Layout pageTitle={pageTitle}>
    <h2>Carica le tue Foto</h2>

    <p>Hai immortalato momenti speciali durante il nostro matrimonio? Condividili con noi! Clicca sul pulsante qui sotto per caricare le tue foto e aiutarci a conservare i ricordi più belli.</p>

    <div class="center">
        <a href="https://nx61054.your-storageshare.de/s/3PDZ3FMHNBskP8K" target="_blank">
            <button class="btn">Carica le tue Foto</button>
        </a>
    </div>
</Layout>
