---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "FAQ";
---
<Layout pageTitle={pageTitle}>
    <h2>FAQ</h2>
    <article>
      <h3>A është i detyrueshëm pasaporta për Shqipëri?</h3>
      <p>Jo, mjafton karta e identitetit italiane e vlefshme për udhëtime jashtë vendit. Në të dyja rastet (pasaportë dhe kartë identiteti), është e nevojshme që data e skadencës të jetë të paktën tre muaj pas datës së kthimit nga Shqipëria (p.sh. nëse ktheheni më 15 korrik 2025, dokumenti nuk duhet të skadojë para datës 15 tetor 2025).</p>
    </article>
    <article>
      <h3>A mund të përdor Euron si monedhë në Shqipëri?</h3>
      <p>Po, Euroja pranohet si monedhë, por është gjithashtu e mundur të shkëmbeni me Lek (monedha vendase shqiptare) që nuk është e konvertueshme jashtë Shqipërisë. Ne ju këshillojmë të keni para në dorë në lekë.</p>
    </article>
    <article>
      <h3>A mund të përdor gjithmonë kartën e kreditit në Shqipëri?</h3>
      <p>Po, është e mundur të paguani me karta krediti, në bazë të politikave të përcaktuara nga institucioni juaj financiar. Ne ju këshillojmë të përdorni kartën e kreditit vetëm në qendrat e mëdha urbane (p.sh. vendpushimet bregdetare dhe qytetet e mëdha). Në raste të tjera, rekomandojmë përdorimin e parave të gatshme.</p>
    </article>
    <article>
      <h3>A mund të përdor internetin dhe/ose planin tim tarifor të roaming-ut të BE-së në Shqipëri?</h3>
      <p>Jo, duke qenë se Shqipëria nuk është pjesë e BE-së, nuk është e mundur të përdorni planin tuaj tarifor dhe roaming-un e BE-së, sipas rregulloreve aktuale evropiane. Ne ju këshillojmë të kontrolloni me operatorin tuaj telefonik për të parë cilat oferta mund të shtoni ose përdorni (p.sh. Vodafone Smart Passport). Shumica e ambienteve publike (p.sh. bare, restorante, etj.) dhe strukturave hoteliere ofrojnë Wi-Fi falas.</p>
    </article>
    <article>
      <h3>Numra të dobishëm</h3>
      <ul>
        <li><strong>Ndihma e shpejtë:</strong> 127 (ambulanca dhe urgjenca). Numri është aktiv vetëm në Tiranë.</li>
        <li><strong>Policia:</strong> 112 (ndihmë e shpejtë), 126 (policia rrugore). Numrat janë aktivë vetëm në qendrat kryesore urbane.</li>
      </ul>
    </article>
</Layout>

