---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Dasma Gabri-Eda";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img alt="RaccoonSpaceGif" class="pro-img" src="/wedding-photo8.jpeg"/>
    </div>

    <h2>Kur gjithçka filloi</h2>
    <p> Siç thuhet “dashuria fillon nga stomaku”... dhe kështu, edhe kjo histori fillon me një copë fokaçe (të shijshme). Ajo, e sjellshme, e bukur, bionde me përparësen dhe kapelën e saj të kuqe. Ai, i turpshëm, por edhe i vendosur, e mbi te gjitha, shume i uritur. Pas pak kohe, një pandemi i ndan, por dëshira për të qenë bashkë është e madhe, sepse që në fillim ishte dashuri dhe mirëkuptim me shikim të parë. Pavarësisht pandemisë, ditët dhe netët kalonin me vështirësitë e kohës, me punën e re dhe duke i thënë njëri-tjetrit “ja, edhe pak dhe do kalojë edhe kjo”, ishte thjesht çështje kohe. Kështu, një herë që stuhia u qetësua dhe jeta u rikthye në normalitet, fillon sërish jeta. Të dy zbulojnë se dashuria nuk është (vetëm) një pasion ose një emocion i thjeshtë. Dashuria është një mirëkuptim i thellë që, në një farë mënyre, plotëson njëri-tjetrin. Ke dikë përkrah që të plotëson një rreth të përsosur, prania e të cilit forcon tënden. Një kimi e përbërë nga elemente që, duke u përzier, krijojnë një ekuilibër të plotë. Më në fund, atë rreth të përsosur duam ta bëjmë edhe më të bukur me “Po”-në tonë. </p>

    <h2>RSVP</h2>
    <p>Na bëhet shumë qejfi t’ju ftojmë të festoni këtë ditë speciale bashkë me ne! Për të konfirmuar praninë tuaj, klikoni butonin më poshtë dhe plotësoni formularin në faqen e dedikuar.</p>
    <div class="rsvp">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMzKwK6MNS8v52lX8lmevHW1zeYYdGF5Gwi5M497m6NWO6YQ/viewform" target="_blank" class="btn">Konfirmo praninë tënde</a>
    </div>
    <p></p>

</Layout>

