---
import Layout from "../../layouts/Layout.astro";
const pageTitle = "Lista e dasmës";
---

<Layout pageTitle="Lista e dasmës">

    {/* Sezione IBAN */}
    <section class="gift-section">
        <h2>Lista e dasmës</h2>
        <h3>Paratë nuk blejnë lumturinë, por mund t’i bëjnë pushimet më të bukura!</h3>
        <p>Nëse dëshironi të kontribuoni që të përjetojmë një eksperiencë të paharrueshme, përveç prezencës suaj të vyer, mund ta bëni nëpërmjet numrit IBAN, të poshtëshënuar:</p>
        <div class="iban-box">
            <strong>IBAN:</strong> IT09U0306901400100000070770
        </div>
        <p>Për të na dhënë mundësinë t’ju falenderojmë, ju lutem shkruani emrin tuaj në përshkrim!</p>
    </section>

    {/* Sezione Messaggi */}
    <section class="message-section">
        <h3> Lë një Mesazh ose një Koment </h3>
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */

            var disqus_config = function () {
              this.page.url = "https://www.gabri-eda.com/";  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = "lista_nozze_al"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://gabri-eda.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</Layout>

