---
import Layout from "../../layouts/Layout.astro";
const pageTitle = "Lista nozze";
import Comments from '../../components/Comments.astro';
---

<Layout pageTitle="Lista e dasmës">

    {/* Sezione IBAN */}
    <section class="gift-section">
        <h2>Lista e dasmës</h2>
        <h3>Paratë nuk blejnë lumturinë, por mund t’i bëjnë pushimet më të bukura!</h3>
        <p>Nëse dëshironi të kontribuoni që të përjetojmë një eksperiencë të paharrueshme, përveç prezencës suaj të vyer, mund ta bëni nëpërmjet numrit IBAN, të poshtëshënuar:</p>
        <div class="iban-box">
            <strong>IBAN:</strong> IT09U0306901400100000070770
        </div>
        <p>Për të na dhënë mundësinë t’ju falenderojmë, ju lutem shkruani emrin tuaj në përshkrim!</p>
    </section>

    {/* Sezione Messaggi */}
    <section class="message-section">
        <h3> Lë një Mesazh ose një Koment </h3>
        <Comments />
    </section>
</Layout>

