---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Gabri-Eda</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Info</a>
        <a href="/posts/">Maps</a>
        <a href="/posts/">Photo</a>
        <!--<a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a>-->
        <ThemeIcon />
    </div>
</div>

