---
import LanguageSwitcher from './LanguageSwitcher.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Gabri-Eda</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Info</a>
        <a href="/lista_nozze/">Lista Nozze</a>
        <a href="/photos/">Foto</a>
        <LanguageSwitcher />
    </div>
</div>

